@font-face {
    font-family: 'Gotham';
    src: url('fonts/Gotham-Bold.eot'); /* IE9 Compat Modes */
    src: url('fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Gotham-Bold.woff') format('woff'), /* Modern Browsers */
       url('fonts/Gotham-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/Gotham-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
     font-weight: 700;
     font-style: normal;
   }
html, body{
    min-height: 100%;
}
body{
 overflow-x: hidden;
 margin: 0;
 border: 0;   
 font-family: 'Gotham';
 /* background: black; */
 background: #ffcc00;
 background: linear-gradient(180deg, #ffcc00 5%, rgba(0,0,0,1) 95%);
 color: #F4FFFD;
 overflow-y: hidden;
}
header{
    display: flex;
    width: 100vw;
    align-items: center;
    background-color: black;
    border-bottom: 1px solid rgb(41, 41, 41);
}
nav{
    display: flex;
    width: 100%;
    height: 10%;
    max-height: 70px;
    align-items: center;
    justify-content: end;
}
nav ul{
    justify-content: end;
    list-style-type: none;
    display: flex;
    width: 20%;
    flex-direction: row;
    margin-right: 20px;
}
nav li{
    width: 50%;
    align-items: center;
    margin: 15px;
}
nav li a{
    text-decoration: none;
    color: white;
}
nav li a:hover{
    font-size: 1.2em;
    transition: 100ms ease-in-out;
    color: rgb(245,255,0);
    cursor: pointer;
}
.barra{
 cursor:default;
}
.logo{
    padding: 5px;
    width: 25%;
}

.logo-icon{
    width: 50px;
    border-radius: 20px;
}
.logo-icon:hover{
    cursor: pointer;
}


main{
    display: flex;
    margin: auto;
    height: 100vh;
    justify-content: center;
}
form{
    box-shadow: 5px 5px 5px #333;
    display: flex;
    width: 40%;
    min-width: 700px;
    height: 60%;
    min-height: 500px;
    margin-top: -9%;
    padding: 0.4rem 0.7rem 0.1rem 0.7rem ;
    border-radius: 0.5rem;
    flex-direction: column;
    align-self: center;
    background-color: #ffffff5d;
    color: black;
    font-weight: 700;
}
.botao{
    font-size: 1.5em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.single-input{
    position: relative;
    margin: 30px 0;
}
.single-input label{
    position: absolute;
    bottom: 5px;
    left: 0;
    color: black;
    cursor: text;
    transition: 0.3s ease-in-out;
}

.input{
    background: none;
    width: 95%;
    padding: 5px;
    border: 0;
    border-bottom: 2px solid black;
    outline: 0;
    font-size: 16px;
    color: black;
    transition: 0.5s ease-in-out;
}

.input:focus,
.input:valid{
    border-bottom: 2px solid #ffcc00;
}
.input:focus ~ label,
.input:valid ~ label{
    transform: translateY(-24px);
    font-size: 12px;
    color: #ffcc00;
}

label{
    font-size: 1.2rem;
}

.submit{
    box-shadow: 2px 2px 5px #333;
    background: none;
    width: 40%;
    padding: 5px;
    border: 0;
    border: 2px solid #ffcc00;
    border-radius: 10px;
    outline: 0;
    font-size: 16px;
    color: black;
    transition: 0.5s ease-in-out;
}
.submit:hover{
    background-color: #ffcc00;
    transition: 0.5s ease-in-out;
    color: white;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100vw;
    background-color: #333;
    color: #F4FFFD;
    text-align: center;
    padding: 0.5rem 0;
  }